<p style="margin-bottom: 10px;"> Panorama geral de atividades:</p>

<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">Liberados</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faShop"></fa-icon>
    </div>
    <div class="value">
      <div class="top">2</div>
      <div class="bottom">Atencao</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faBoxes"></fa-icon>
    </div>
    <div class="value">
      <div class="top">6</div>
      <div class="bottom">Atraso</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
    </div>
    <div class="value">
      <div class="top">150</div>
      <div class="bottom">Total</div>
    </div>
  </div>
</div>
